<div class="paypalconfirmation-container">
    <div class="successlogo">
        <img src="../../assets/download.png">
    </div>
    <div class="transaction">
        <h1>Your Transaction is Successful !! </h1>
        <p>-----PAYEE DETAILS-----</p>
             </div>
    <div class="salarycredited">
        <h2>Salary Credited : RS.{{emp}} /- only </h2>
        <h3>-----To-----</h3>

        </div>
        <div class="employee">
            <h2>He/She: {{fname}} {{lname}} </h2>
          </div>

         <div class="employeeaccountno">
          <h2>Acc No: {{acc}} </h2>
        
                </div>
                


    <div class="transactionId">Your Transaction ID is : {{transactionId}}</div>
  
    <button class="ok" (click)="ok()">OK</button>
    </div>