$color_1: #a9a93b;

.card {
	margin-top: 5px;
	border: none;
	width: 500px;
	padding: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgb(17, 18, 14);
	
		h1 {
			color:rgb(255, 255, 255);;
		}
	}
	h3{
		color: rgb(255, 255, 255);
	}

h6 {
	color: $color_1;
}
label {
	color: $color_1;
}